<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> <%= "#{@customer.name} has made a reservation." %> </h1>
    <h3> Contact Information: </h3>
    <p>
      <%= "Email: #{@customer.email}" if @customer.email %>
    </p>
    <p>
      <%= "Phone Number: #{number_to_phone(@customer.phone_number)}" if @customer.phone_number %>
    </p>
    <%= link_to "View Customer", "http://localhost:4567/rm/customers/#{@customer.id}" %>

    <h3> Reservation Information: </h3>
    <p>
      Date & Time: <%= @reservation.scheduled_start_at.in_time_zone(@resturant.timezone_name).strftime("%B %e, %Y %I:%M%P") %>
    </p>
    <p>
      Party Size: <%= @reservation.party_size %>
    </p>
    <%= link_to "View Reservation", "http://localhost:4567/rm/rsvp_list/reservation/#{@reservation.id}/edit" %>
  </body>
</html>
